<body >
    <main><!-- Main content --></main>
<footer class="bg-light text-center text-lg-start" >
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row" style="text-align: center;">
        <!--Grid column-->
        
          <h5 class="text-uppercase">ADRESSE</h5>
  
          <p>
            Centre National des Sciences et Technologies Nucléaires<br>
          </p>
              <p>                     71 537 410<br>
                </p>
                    <p>      encadrer par abedlkader hamrouni<br>
                    </p>
                    <p>realisé par :</p>
                        <p>    ghrissi aymen   <br>
                            </p>
                            <p>  kahlawi dhekra </p><br>
          
       
        <!--Grid column-->
  
        <!--Grid column-->
        
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <div class="text-center p-3" style="background-color: #1f3d5e">
      <a class="text-light" >Pôle Technologique - 2020 Sidi Thabet BP 72 </a>
    </div>
  </footer>
</body>