<div class="card  mb-3" style="max-width: 25rem; margin: auto; margin-top: 20px;">
    <div class="card-header">Demande matériels</div>
    <div class="card-body">
        <h5 class="card-title">Demande</h5>
        <div>
            <form (ngSubmit)="adddemande()" #form="ngForm">

                
                
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Matériel demander</label>
                    <textarea class="form-control"  id="name" placeholder="Matériels demander" name="Name"
                    [(ngModel)]="newdemande.materiel_demmander" required></textarea>
                  </div>
             
                <div class="mb-3">

                </div>

                <button type="submit" class="btn btn-primary"[disabled]="!form.valid">Demander</button>
            </form>
        </div>


    </div>
