

<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Direction des Services Communs</h4></div>
      <div class="panel-body">

          <div class="form-outline mb-4">
            <input type="search" class="form-control" id="datatable-search-input" [(ngModel)]="filter">
            <label class="form-label" for="datatable-search-input">Search</label>
          </div>
          <div id="datatable">
          </div>

    
           
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Piéce Jointe</th>
        </tr>
      </thead>
      <tbody id="myTable" *ngFor="let myfrom of from |search : filter ">
        <tr>
          <td>{{myfrom.name}}</td>
          <td><a href="{{ myfrom.link }}">Télécharger</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>