
<nav class="navbar navbar-expand-lg navbar-ligh " style="background-color: #fda205;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CNSTN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="acceuil-component" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Administration
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="addcat" class="dropdown-item" href="#">Ajouter une categorie</a></li>
              <li><a routerLink="listcat" class="dropdown-item" href="#">list des categories</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="addserv" class="dropdown-item" href="#">ajouter un service </a></li>
              <li><a routerLink="listserv" class="dropdown-item" href="#">list des services </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="addemp" class="dropdown-item" href="#">ajouter un employee </a></li>
              <li><a routerLink="listemp" class="dropdown-item" href="#">list des employees </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="addsalle" class="dropdown-item" href="#">ajouter une salle</a></li>
              <li><a routerLink="listsalle" class="dropdown-item" href="#">list des salles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a routerLink="listres" class="dropdown-item" href="#">list des reservations</a></li>
              <li><a routerLink="listdem" class="dropdown-item" href="#">list des demandes</a></li>

            </ul>
          </li>
          
          <li>
            <a class="nav-link active" routerLink="addres"  href="#">reservation</a>
          </li>
          <li>
            <a class="nav-link active" routerLink="adddem"  href="#">demande de matriel</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Formulaires
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a routerLink="dg" class="dropdown-item" href="#">Direction Generale</a></li>
              <li><a routerLink="dsc" class="dropdown-item" href="#">Direction des Services Communs</a></li>
              <li><a routerLink="dvps" class="dropdown-item" href="#">Direction Valorisation des Projets & Services</a></li>

            </ul>
            
              
            
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>