<div *ngIf="!condition">
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Delete</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.id }}</td>
        <td>{{ service.nom }}</td>
        <td>{{ service.description }}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteServ(service.id,service.nom)">Delete</button></td>
        <td>        <button type="submit" class="btn btn-primary" (click)="servDetails(service.id)">Update</button>
      </tr>
    </tbody>
  </table>
</div>

<div class="card border-info mb-3"  style="max-width: 25rem; margin:auto; margin-top: 20px;" *ngIf="condition">
  <div class="card-header">Mise a jour</div>
  <div class="card-body" *ngIf="servdetails">
    <h5 class="card-title" >Mise a jour</h5>

    <form (ngSubmit)="Update()"  #form="ngForm">
      <div>
        <label><b>Nom: </b></label>
        <input type="text" class="form-control" id="nom" placeholder="Enter description" name="nom"
          [(ngModel)]="servdetails.nom">
      </div>
      <div>
        <label><b>Description: </b></label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" name="Description"
          [(ngModel)]="servdetails.description">
      </div>
      <button type="submit" class="btn btn-outline-success" >Mettre a jour</button>

    </form>

  </div>
</div>
