.table {
    border-collapse: collapse;
    width: 120%;
    
  }
  
  tr:hover {background-color: #dadada;}
  th {
    background-color: #F99417;
    color: white;
    
  }
  td {
    width: 35%;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
 