
<div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>Formulaires Direction Générale</h4></div>
      <div class="panel-body">
    <br>
   
    <input id="myInput" type="text" placeholder="Search..">
    <br>
    
           
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Piéce Jointe</th>
        </tr>
      </thead>
      <tbody id="myTable" *ngFor="let myfrom of from">
        <tr>
          <td>{{myfrom.name}}</td>
          <td><a href="{{ myfrom.link }}">Télécharger</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>