<div class="card  mb-3" style="max-width: 25rem; margin: auto; margin-top: 20px;">
    <div class="card-header">Reservation</div>
    <div class="card-body">
        <h5 class="card-title">Reservez votre salle</h5>
        <div>
            <form (ngSubmit)="addreserv()" #form="ngForm">
                <div class="mb-3 mt-3">
                    <label for="name">date de debut:</label>
                    <input type="date" class="form-control" id="dated" placeholder="Entrer la date de debut" name="date_debut"
                        [(ngModel)]="newres.date_d" required>

                </div>
                <div class="mb-3">
                    <label for="name">date de fin:</label>
                    <input type="date" class="form-control" id="datef" placeholder="Entrer la date fin"
                        name="date_fin" [(ngModel)]="newres.date_f" required>
                </div>
                <div class="mb-3">
                    <label for="name">Salle</label>
                    <select class="form-select" [(ngModel)]="newres.salle" required id="salle" name="Salle" #salle_id >                        <option *ngFor="let Salle of salles" [ngValue]="Salle" >
                            {{Salle.nom}}
                        </option>
                    </select>

                </div>

                <button type="submit" class="btn btn-primary"[disabled]="!form.valid">Submit</button>
            </form>
        </div>


    </div>