<br><br>
<table datatable class="table ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Cin</th>
        <th>Tel</th>
        <th>Adresse</th>
        <th>Poste</th>
        <th>Matricule</th>
        <th>email</th>
        <th>numero interne</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.nom }}</td>
        <td>{{ employee.prenom }}</td>
        <td>{{ employee.cin}}</td>
        <td>{{ employee.tel }}</td>
        <td>{{ employee.adresse }}</td>
        <td>{{ employee.poste}}</td>
        <td>{{ employee.matricule}}</td>
        <td>{{ employee.email}}</td>
        <td>{{ employee.tel_interne}}</td>
          <td><button type="button" class="btn btn-outline-danger" (click)="deleteemp(employee.id,employee.nom)">Delete</button></td>
      </tr>
    </tbody>
  </table>
